.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.pdf
*.doc
*.docx
*.png
*.eps
*.tiff
*.xlsx
Writing/
Figures/
DeerDensityPred*
PigDensityPred*
cougar_cluster_investigations.csv
cougar_cluster_investigations_correctedkill2_age.csv
ClustersMasterSheet.csv
CameraCovariates_NDVI_289_log.csv
Killsnolocs.csv
RawData/CougarLocations
Code/PresentationFigures
Code/ErrorPropResults
Code/deercovsmodel_log.rds
Code/pigcovsmodel_log.rds




